@charset "utf-8";

/* This will let the browser know what fonts to use for the page */
@font-face {
    font-family: Champagne;
    src: url('cac_champagne.ttf') format('truetype'), url('cac_champagne.woff') format('woff');
}

@font-face {
    font-family: Grunge;
    src: url('1942.ttf') format('truetype'), url('1942.woff') format('woff');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.ttf') format('truetype'), url('DobkinPlain.woff') format('woff');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Emmanuel Cortes Castaneda
   Date: 09/06/18  
   
   Filename: ph_styles.css

*/
/* Structural Styles */
/* Added some basic color to some of the major elements. As well as specific fonts for the body. Added margins to the paragraphs aswell as padding. The address text was also given some padding at the top and bottom, the text was centered as well. */
html {
    background-color: hsl(91, 8%, 56%);
}

body {
    background-color: hsl(58, 31%, 84%);
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

header {
    background-color: black;
}

p {
    margin: 0px;
    padding: 5px 25px 25px 25px;
}

body>p {
    font-size: 1.1em;
    text-align: center;
}

address {
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Navigation Styles */
/* Once you have clicked a link then the color will not change to a different one, nor will ever stay that way forever. Also while hovering over the links, the background will change to make it apparent. The nav will also only use certain fonts. */
nav {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
}

nav>ul>li>a:link,
nav>ul>li>a:visited {
    color: white;
    text-decoration: none;
    background-color: hsla(0, 0%, 42%, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
}

nav>ul>li>a:hover,
nav>ul>li>a:active {
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsla(0, 0%, 42%, 0.7);
}

/* Section Styles */
/* This would make the different sections on the page become different from one another. There are 4 different sections and each one of them would be different colors and also different fonts for the headings.  */
section.playbill h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0px 10px 20px;
}

section#play1.playbill {
    background-color: hsl(240, 100%, 88%);
}

section#play2.playbill {
    background-color: hsl(25, 88%, 73%);
}

section#play3.playbill {
    background-color: hsl(0, 100%, 75%);
}

section#play4 {
    background-color: hsl(296, 86%, 86%);
}

section#play1 h1 {
    font-family: Champagne, cursive;
}

section#play2 h1 {
    font-family: Grunge, 'Times New Roman', Times, serif;
}

section#play3 h1 {
    font-family: Impact, Charcoal, sans-serif;
}

section#play4 h1 {
    font-family: Dobkin, cursive;
}

/* Description List Styles */
/* This lets the text inside the lists become much nicer with a color set to two headings and the author in another color. */
dt {
    font-size: 1.3em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.4);
}

dd {
    font-size: 1.3em;
    margin-left: 0px;
    margin-bottom: 10px;
}